.jointApplicant__heading {
  display: flex;
  align-items: center;
  height: 140px;
  background-color: #501b1d;
  justify-content: center;
}

.jointApplicant__heading > h2 {
  font-size: 35px;
  font-weight: 500;
  line-height: 30px;
  color: whitesmoke;
  margin-bottom: 2%;
}

.jointApplicant__mainHeader {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-left: 7%;
  color: #2e1114;
}

.jointApplicant__mainImage {
  margin-left: 15px;
  margin-top: 7px;
}

.jointApplicant__mainImage > img {
  height: 20px;
  width: 20px;
}

.jointApplicant__mainHome,
.jointApplicant__mainHeading {
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  margin-left: 15px;
}

.jointApplicant__mainHome:hover,
.jointApplicant__mainHeading:hover {
  cursor: pointer;
  border-bottom: 2px solid #2e1114;
}

.jointApplicant__mainForm > h2 {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 1%;
  margin-left: 3%;
  color: #2e1114;
}

.jointApplicant__form {
  display: flex;
  width: 100%;
  flex: 1;
  margin-top: 2%;
}

.jointApplicant__formLeft,
.jointApplicant__formRight {
  display: flex;
  flex-direction: column;
  flex: 0.5;
}

.jointApplicant__formLeft > input,
.jointApplicant__formRight > input {
  background-color: white;
  padding: 20px;
  display: flex;
  width: 90%;
  border: none;
  outline: gray;
  margin-left: 5%;
}

.jointApplicant__formButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #501b1d;
  height: 30px;
  width: 60%;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 14px;
  color: whitesmoke;
  margin-left: 15%;
  border: 2px solid #501b1d;
  font-weight: 600;
}

.jointApplicant__formButton:hover {
  color: #501b1d;
  background-color: white;
  border: 2px solid #501b1d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 30px;
  width: 60%;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 15%;
  font-weight: 600;
  cursor: pointer;
}

.jointApplicant__formLeft > input:focus::-webkit-input-placeholder,
.jointApplicant__formRight > input:focus::-webkit-input-placeholder {
  font-size: 0.75em;
  position: relative;
  top: -15px;
  transition: 0.2s ease-out;
}

.jointApplicant__formLeft > input::-webkit-input-placeholder,
.jointApplicant__formRight > input::-webkit-input-placeholder {
  transition: 0.2s ease-in;
}
