.header {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  align-items: center;
  height: 70px;
  top: 0;
  z-index: 999;
  position: sticky;
  box-shadow: 2.5px 5px 10px #888888;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo > h3 {
  font: size 24px;
  font-weight: 900;
  line-height: 18px;
  color: orangered;
}

.header__logo > h3 > span {
  font: size 24px;
  font-weight: 900;
  line-height: 18px;
  color: black;
}

.header__logo > img {
  object-fit: contain;
  height: 35px;
  width: 35px;
  margin: 20px;
}

.header__logo > img:hover {
  cursor: pointer;
}

.header__options {
  display: flex;
  justify-content: space-between;
  color: black;
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
}

.header__optionsHome,
.header__optionsPredict,
.header__optionsVisualize,
.header__optionsContact {
  margin-right: 25px;
}

.header__optionsHome:hover,
.header__optionsPredict:hover,
.header__optionsVisualize:hover,
.header__optionsContact:hover {
  color: orangered;
  cursor: pointer;
}
